@import 'flexboxgrid.scss';
@import 'normalize.scss';
@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Montserrat:400,700');

$font-paragraph-subtitle: 'Lato', sans-serif;
$font-title: 'Montserrat', sans-serif;
$red-color-site: #35B52A;
$grey-color-site: #707070;
$background-grey-site: #fafafa;

a {
    text-decoration: none;
}

html {
    font-size: 16px;
}

h1 {
    font-size: 4.375rem;
    font-family: $font-title;
    color: white;
}

h2 {
    font-family: $font-title;
    font-size: 1.25rem;
    color: $red-color-site;
    font-weight: 700;
    padding-top: 8px;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    margin-right: 22px;
    .fa-square-full {
        font-size: 0.95rem;
        position: absolute;
        top:13px;
        right: -25px;
    } 
}

h3 {
    font-family: $font-title;
    font-weight: 700;
    color: black;
    font-size: 3rem;
    text-align: right;
    text-transform: uppercase;
    margin-top: 60px;
    margin-bottom: 20px;
    line-height: 2.5rem;
    letter-spacing: 3px;
}

h4 {
    font-family: $font-title;
    color:  $grey-color-site;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 2.35;
    text-align: center;
    text-transform: uppercase;
}

p {
    font-family: $font-paragraph-subtitle;
    color: $grey-color-site;
    font-size: 1.25rem;
    font-weight: 300;
}

section {
    padding-bottom: 50px;
}

.container {
    max-width: 940px;
    margin: 0 auto;
}

header {
    height: 100vh;
    background-image: url('../images/DSC03996_yellow.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

/* menu */

nav {
    ul {
        list-style-type: none;
        li {
        display: inline-block;
        &:hover a {
            color: $red-color-site;
        }
        }
    
        a {
            text-decoration: none;
            color: white;
            font-size: 1.125rem;
            font-family: $font-title;
            font-weight: bold;
        }
    }
}

/* Hamburger menu start*/

#menu-icon {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.menu-icon-open-close {
    display: none;
}

[class*='menu-icon-line-'] {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.line-menu-icon-move .menu-icon-line-1 {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.line-menu-icon-move .menu-icon-line-2 {
    opacity: 0;
}

.line-menu-icon-move .menu-icon-line-3 {
    transform: rotate(45deg) translate(-8px, -8px);
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }

@-webkit-keyframes fadeInDown {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
}
@keyframes fadeInDown {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
} 


.fadeOutUp {
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeOutUp {
    0% {
    opacity: 1;
    }
    100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    }
    }
    @keyframes fadeOutUp {
    0% {
    opacity: 1;
    }
    100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    }
    }

/* Hamburger menu end */


.logo {
    a {
        display: flex;
        align-items: center;
    }
    img {
        object-fit: none;
    }
}

/* Jumbotron */

.jumbotron {
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
        text-decoration: none;
    }
}

.hero a {
    display: flex;    
    justify-content: center;
}

.button {
        width: 200px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: 2px solid white;
        color: white;
        font-family: $font-title;
        font-size: 0.875rem;
        font-weight: 400;
        text-transform: uppercase;
        padding: 0 15px;
        transition: all 0.5s;
        &:focus {
            outline: none;
        }
        &:hover { 
            transform: scale(1.05);
        }
}

/* About me */

.about-me {
    margin-top: 50px;
}


.about-me-text {
    line-height: 2.2rem;
    text-align: justify;
}

.about-me-foto img {
    width: 100%;
}

/* blog */


.blog {
    margin-top: 50px;
    background-color: $background-grey-site;
    padding-bottom: 150px;
}

.box-tag {
    position: relative;
    img {
        width: 100%;
        height: 100%;
    }
}

.box-tag-image {
    background-color: white;
}

.post-tag {
    position: absolute;
    left: 21px;
    top: 5px;
    font-family: $font-paragraph-subtitle;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 24px;
    padding: 0 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    background-color: white;
}

.blog-info {
    background-color: white;
    padding: 20px 15px;
    margin-top: 0;
    .fa-sign-in-alt {
        color: $red-color-site;
        
    }
}

.date {
    font-size: 0.625rem;

    .fa-square-full {
        color: $red-color-site;
        font-size: 0.625rem;
    }
} 

.blog-info-title {
    font-size: 1.25rem;
    text-align: left;
    line-height: 1.25rem;
    letter-spacing: 0px;
    margin-top: 20px;
    height: 4.25rem;
}

.blog-info-p {
    font-size:  0.75rem;
    height: (6*0.75rem);
}

.read-more {
    font-size: 1.3rem;
    display: flex;
    justify-content: flex-end;
}

.box-btn-all-posts {
    margin-top: 80px;
}
.btn-all-posts {
    padding: 0 0.75rem;    
    border-left: 2px solid $red-color-site;
    border-bottom: 2px solid $red-color-site;
    position: relative;
    p {
        font-size: 0.75rem;
        font-family: $font-title;
        font-weight: 700;
    }
}

.btn-all-posts::after {
        content: "";
        position: absolute;
        right: 0;
        z-index: 100;
        bottom: 0;
        width: 2px;
        height: 50%;
        background-color: $red-color-site;
}

.btn-all-posts::before {
    content: "";
    position: absolute;
    left: 0;
    z-index: 100;
    top: 0;
    width: 80%;
    height: 2px;
    background-color: $red-color-site;
    
}

/* pilates info section */


.pilates-info {
    display: flex;
}

.pilates-info-text {
    display: flex;
    background-image: url('../images/foto_pilates_info.png');
    background-size: cover;
    p {
        color: white;
        margin-top: 40px;
        text-align: justify;
    }
}

.pilates-info-video {
    margin: 0;
    padding: 0;
    display: flex;
    iframe {
        width: 100%;
        height: 100%;
        min-height: 300px;
    }
}

.pilates-info-subtitle {
    color: white;
}

.pilates-info-text-box {
    padding: 0 50px;
}

.map {
    height: 300px;
}

/* activities section */

.activities-box {
    background-color: $background-grey-site;
}

/* contact section */
.contact {
    background-color: $background-grey-site;
}

.contact-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    img {
        width: 103px;
        height: 100px;
    }
    h4 {
        margin-bottom: 0;
    }
    p {
        margin-top: 0;
    }
}
/* newsletter section */
.newsletter {
    background-image: url('../images/foto_pilates_newsletter.png');
    h3 {
        color: white;
    }
}

.ml-subscribe-form-8297284 {
    padding-top: 40px;
}

.ml-subscribe-form-8297284 .form-group {
    padding: 5px 0;
    .form-control {
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid white;        
        width: 100%;
        font-family: $font-paragraph-subtitle;
        color:  #ffffff;
        font-size: 1.125rem;
        font-weight: 300;
        line-height: 2.667;
        outline-color: white;
    }
    
}

.ml-block-success {
    display: none;
}

.primary {
        background-color: transparent;
        font-size: 0.75rem;
        font-family: $font-title;
        font-weight: 700;
        color: white;
        border-top: 0;
        border-right: 0;
        padding: 12px;
        margin-top: 40px;
        &:hover {
            background-color: $red-color-site;
        }
    }
footer{
    background-color:  #1c1c1c;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        color:  #ffffff;
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 2.5;
        text-align: center;
    }
    .fab {
        font-size: 50px;
        padding: 20px;
        color: white;
        &:hover {
            color: $red-color-site;
        }

    }
}
@media (max-width: 991.98px) {
    .row {
        margin: 0;
    }

    h1 {
        font-size: 3rem;
    }

    nav {
        
        ul {
            padding:0;
            margin: 0;
            li {
                margin: 5px 0;
            }
        }
        .menu1 {
            margin-top: 10px;
            order: 2;
        }
        .menu2 {
            order: 3;
        }
        .logo {
            order: 1;
            margin-top: 10px;
        }
    }
    .menu1, .menu2 {
        opacity: 0;
    }
    .menu-icon-open-close {
        display: inline-block;
    }


    .pilates-info {
        flex-direction: column;
    }
}

@media (min-width: 992px) {
    .menu1, .menu2 {
        display: flex;
    }

    #menu-icon {
        display: none;
    }

    .fadeOutUp {
        animation: none;
    }
}

